<!DOCTYPE html> 
<html>
    <head>
        <title>Головна сторінка</title>
    </head>
    <body>
        <a href="http://127.0.0.1:5000/lybrary"><i>Більш про скультори</i></a>
        <h1><b>Cкульптури</b></h1>
        
        
        
        
        
        
        <p><b>Скульпту́ра</b> (лат. sculptura, від sculpo — «вирізаю», «висікаю») — лі́плення, пластика, вид образотворчого мистецтва, твори якого мають об'ємну, тривимірну форму і виконуються із твердих чи пластичних матеріалів. Скульптура зображує головним чином людину, рідше тварин, її головні жанри — портрет, історичні, побутові, символічні, алегоричні зображення, анімалістичний жанр. Художньо-виразні засоби скульптури — побудова об'ємної форми, пластичне моделювання (ліпка), розробка силуету, фактури, у деяких випадках також кольору.</p>
        <p><i>За своєю формою розділяють два види скульптури</i>: рельєф та круглу скульптуру. Остання в залежності від призначення ділиться на монументальну (великі архітектурні ансамблі, пам'ятники), монументально-декоративну (прикрашає будинки та парки) та станкову (зазвичай представлена в музеях, на виставках або є частиною інтер'єру).</p>
        <img src="https://osvita.ua/doc/images/news/601/60192/60192-001_i.jpg"  width=600px height="500" alt="#">
        <p><b>Різновиди</b></p>
        <p>Розрізняють круглу скульптуру (статуя, група, статуетка, погруддя), яку можна розглядати з різних сторін, і рельєф (зображення розміщене на площині, зокрема барельєф).Скульптуру розрізняють і за призначенням. Монументальна скульптура (пам'ятник, монумент) пов'язана з архітектурним середовищем, вирізняється значущістю ідей, високим рівнем узагальнення, великими розмірами; монументально-декоративна скульптура включає всі види оздоблення архітектурних споруд і комплексів (атланти, каріатиди, фризи, фронтонна, фонтанна, садово-паркова скульптура); станкова скульптура, не залежить від середовища, має розміри, близькі до натури чи менші, і конкретний поглиблений зміст. Залежно від того, як художник зображає людину, скульптура поділяється на бюст і статую. Зображення кількох об'єктів — це фігурна група, або багатофігурна композиція. Залежно від змісту скульптури визначаються її жанри: портрет, тематична композиція, анімалістичний жанр (зображення тварин).</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Satyrmaske_als_Wasserspeier_-_Niedernberg.JPG"  width=500px height="500" alt="#">



    </body>
</html>